*,
*::before,
*::after {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
  'Lucida Sans', Arial, sans-serif;
}

body {
 background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(19,19,91,1) 47%, rgba(22,22,99,1) 58%, rgba(58,38,125,1) 100%);
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 710px;
  min-height: 600px;
  background: #161a2b;
  text-align: center;
  margin: 128px auto;
  border-radius: 50px;
  border-style: solid ;
  border-color:#828691;
  padding-bottom: 32px;

}

h1 {
  font-weight: 300;
  color:  #828691;
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.input-wrapper {
  margin: 3.5rem;
  
}

.todos-wrapper {
  margin-bottom: 2.5rem;
}

.todo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

input {
  width: 450px;
  padding: 0.8em;
  color: #fff;
}

input:focus {
  outline: none;
  color: #fff;
}

button {
  width: 120px;
  padding: 0.8em;
  cursor: pointer;
  font-weight: 400;
  letter-spacing: 0.1rem;
}

input,
button {
  font-size: 1em;
  appearance: none;
  color: currentcolor;
  background: transparent;
  border: 1px solid #828691;
}

.add-button {
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: #fff;

  
}

.add-button:hover {
  color: #ffffff;
  background:#5b44c0;
}

.delete-button {
  color: #ffffff;
}

.delete-button:hover {
  color:  #ffffff;
  background:#5b44c0;
}

ul {
  padding: 0;
  list-style: none;
  margin-bottom: 0px;
}

li {
  width: 450px;
  padding: 0.85em;
  text-align: left;
  margin-bottom: 0.5rem;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
  letter-spacing: 0.02rem;
  transition: all 0.3s ease-out;
  border-left: 5px solid #828691;
}

li:last-child {
  margin-bottom: 0px;
}

.empty {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  letter-spacing: 0.2rem;
}